# Python
__pycache__/
*.pyc
testing/__pycache__
agents/__pycache__
tools/__pycache__
tools/__init__.py
agents/__init__.py

# Virtual env
venv/
.env

# Data dumps
data/*.json
data/raw_reddit/

# Misc
misc/reddit.png